<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fillin_category.name %>
</p>

<%= link_to 'Edit', edit_fillin_category_path(@fillin_category) %> |
<%= link_to 'Back', fillin_categories_path %>
