<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fillin_domain.name %>
</p>

<%= link_to 'Edit', edit_fillin_domain_path(@fillin_domain) %> |
<%= link_to 'Back', fillin_domains_path %>
