<div class="alert alert-info">
  <strong>How it Works:</strong><br>
  <ul>
    <li>Fillable portions of a fill-in card are surrounded by <strong>[= =]</strong> symbols <i>(with the answer specified within the symbols)</i>.</li>
    <li>You can have multiple, fillable portions on the same card.</li>
    <li>When it comes time to create a test for your fillable cards, you specify at that time which of the fillable portions you wish to hide on each card.</li>
  </ul>
</div>
