<div class="alert alert-success">
  <strong>Test Complete!</strong> You got <strong><%=@fillin_card_test.fillin_test.fillin_card_tests.answered_correct.size%></strong> Out of <strong><%= @fillin_card_test.fillin_test.fillin_card_tests.size%></strong> Fill-in Questions Correct!
</div>


<%= link_to 'Back to Tests', fillin_tests_path %>
